* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(assets/bg.jpg) no-repeat;
    background-size: 100% auto;
    background-position: top center;
    background-color: #121214;
    color: white;
}

body *,
:root {
    font-family: "Inter";
    line-height: 160%;
}

header {
    padding-top: 2rem;
    text-align: center;
}

header img {
    width: 15rem;
}

main {
    max-width: 36rem;
    width: 90%;
    margin: 3rem auto;
}

section {
    background: linear-gradient(90deg, #9572fc 0%, #43e7ad 50%, #e2d45c 100%);
    padding-top: 4px;
    border-radius: .625rem;
    opacity: 0;
    transform: translateY(4rem);

    animation: sectionAppear 2s ease-in-out both;
}

section>div {
    padding: 2rem;
    padding-top: 1.5rem;
    background-color: #2a2634;
    border-radius: .5rem;

    & h2 {
        letter-spacing: -0.47px;
    }

    & p {
        letter-spacing: -0.18px;
        color: #a1a1aa;
    }
}

@keyframes sectionAppear {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    display: flex;
    gap: .85rem;
    flex-wrap: wrap;
    margin-block: 1.25rem;
}

input,
select {
    all: unset;
    border: 2px solid #9147ff;
    border-radius: .5rem;
    padding: .675rem;
    font-size: .875rem;
    background-color: #00000066;
}

select option {
    background-color: #121214;
}

input {
    flex: 1;
}

button {
    width: 100%;
    background: linear-gradient(245deg, #9572fc 0%, #43e7ad 50%, #e2d45c 100%);
    border: 0;
    padding: .675rem;
    border-radius: .5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .12px;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 1rem rgba(255, 248, 107, .2);
}

button:disabled {
    transition: initial;
    transform: initial;
    box-shadow: initial;
    cursor: not-allowed;
    color: black;
}

.loading {
    animation: pulse 1s infinite;
}

.response-content {
    background-color: rgba(0, 0, 0, .4);
    border-radius: .5rem;
    padding: 1.5rem;
    border-left: 2px solid #43e7ad;
}

.response-content {
    & p {
        color: white;
        margin-block: 1.5rem 1rem;
    }

    & ul {
        padding-left: 2rem;

        & li {
            opacity: .8;

            & strong {
                color: white;
            }

            color: rgb(182, 176, 176);
        }
    }
}

.hidden {
    display: none;
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}